.table {
    width: 100%;
    margin: 20px 0;
    margin-bottom: 3.9rem; 
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

.table thead th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #343a40;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table tbody td,
.table tbody th {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table tbody td {
    border-bottom: 1px solid #ddd;
}

.table tbody th {
    border-bottom: 1px solid #ddd;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}