#modifyForm {
    font-family: Arial, sans-serif;
    margin-top: 5rem auto;
    margin-bottom: 4rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}