form {
    font-family: Arial, sans-serif;
    margin-top: 5rem auto;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-success, .btn-warning {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}

input:hover {
    background-color: rgb(221, 227, 232);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px; 
    background-color: whitesmoke; 
    margin: 10rem;
    padding: 4rem;
    text-align: center;
    border-radius: 30px;
}

.headCard {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-size: 4rem;
    font-family: monospace;
}

@media (max-width: 700px) {
   
    #container {
        min-width: 700px;
    }
  
}
