.profile-card {
    width: 100%;
    max-width: 40rem;
    margin: 2rem auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

.profile-header {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #12b2ba 0%, #3bb74f 100%);
    color: #fff;
}

.profile-img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile-header h2 {
    margin: 0;
    font-size: 1.8rem;
}

.profile-header p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: whitesmoke;
}

.profile-body {
    padding: 1.1rem;
}

.profile-body h3 {
    margin-top: 0;
    font-size: 1.6rem;
    color: #333;
    text-align: center;
}

.role-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.role-item {
    background: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #555;
}

.warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 4.5rem;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
}

.warning-title {
    font-size: 2rem;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px; 
    background-color: whitesmoke; 
    margin: 10rem;
    padding: 4rem;
    text-align: center;
    border-radius: 30px;
}

.headCard {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 2rem; 
}


@media (max-width: 700px) {
   
    #container {
        min-width: 700px;
    }

    .profile-card {
        width: 50%;
    }
  
}

