.card {
    width: 30rem;
    margin-bottom: 20px;
    margin-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px; 
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.card-text {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.card-sub {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
    margin-bottom: 0.5rem;
}

#modifica, #cancella {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#modifica:hover, #cancella:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.button-space {
    margin-right: 10px;
}