.carousel-item {
    height: 500px; /* Imposta un'altezza fissa per gli elementi del carosello */
}

.carousel-item img {
    height: 100%;
    object-fit: cover; /* Assicura che l'immagine copra l'intero elemento del carosello */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente per le didascalie */
    padding: 10px;
    border-radius: 5px;
}

.carousel-item:hover {
    transform: scale(1.1);
}