.custom-footer {
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    background-color: #ffffff;
    font-size: 0.9rem;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.social-icons .nav-link {
    display: flex;
    align-items: center;
    color: #495057;
}

.social-icons .nav-link:hover {
    color: #0056b3;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}