.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: 'Arial', sans-serif;
}

.welcome-content {
  margin-top: 3rem;
  max-width: 82rem;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
}

.welcome-title {
  font-size: 4.5em;
  margin-bottom: 2rem;
  color: #333;
}

.welcome-description {
  font-size: 1.4em;
  font-weight: 500;
  color: #333;
  line-height: 1.5;
}

.carousel-container {
  width: 100%;
  max-width: 800px; 
  margin: auto;
}

.know-content {
  margin-top: 4rem;
  background-color: rgb(246, 223, 92); 
  padding: 20px; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center; 
  font-family: 'Arial', sans-serif; 
  color: #333; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 5rem;
}

#learn-more {
  background-color:  #d9e2ec;
  border: none;
  color: black;
  font-weight: bold;
}

/* Styles for the about-us section */
.about-us {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 15px; 
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 20px auto;
  text-align: left; 
  margin-bottom: 10rem;
}

.about-us-logo {
  flex-shrink: 1;
  width: 40rem;
  margin-right: 20px;
  border-radius: 5px;
}

.about-us-text {
  font-family: 'Arial', sans-serif;
  font-size: 2.1em;
  color: #333;
  line-height: 1.5;
  margin-bottom: 6rem;
  text-align: center;
}

.about-us-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  font-size: 3.8rem;
  font-family: monospace;
}

.about-us-subtext {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.9em;
  color: #333;
  line-height: 1.5;
  margin-bottom: 6rem;
}

cite {
  font-size: 2rem;
}

@media (max-width: 1300px) {
  .welcome-title {
    font-size: 2.5em;
  }

  .welcome-description {
    font-size: 1.2em;
  }

  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-us-logo {
    margin-right: 0;
    margin-bottom: 20px;
    width: 21rem;
  }

}